*{
  margin: 0%;
  padding: 0%;
}
body{
  background-color: black;
}

/* Apply theme to all links, headings, etc. */

body.light-theme{
  background-color: white;
}
body.light-theme a {
  color: #006977;
}

body.dark-theme a {
  color: #ffffff;
}

body.dark-theme h1 {
  color: #00ffff;
}

body.light-theme h1 {
  color: #006977;
}


body.dark-theme h3 {
  color: white;
}

body.light-theme h3 {
  color: black;
}


body.dark-theme p {
  color: white;
}

body.light-theme p {
  color: black;
}



/* optional */
body.light-theme .navbar {
  background: linear-gradient(90deg, #d0e7f6, #f2f2f2);
}

body.dark-theme .navbar {
  background: linear-gradient(90deg, #0f1b2a, #1a1f2b);
}