:root {
  --dark_teal_shade: #006977;
  --aqua: #00ffff;
  --black: #000000;
  --white: #ffffff;
}

* {
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
  }


body.light-theme {
  background-color: var(--white);
}
body.dark-theme {
  background-color: var(--black);
}

body.light-theme a {
  color: var(--dark_teal_shade);
}

body.dark-theme a {
  color: var(--white);
}

body.dark-theme h1 {
  color: var(--aqua);
}

body.light-theme h1 {
  color: var(--dark_teal_shade);
}

body.dark-theme h3 {
  color: var(--white);
}

body.light-theme h3 {
  color: var(--black);
}

body.dark-theme p {
  color: var(--white);
}

body.light-theme p {
  color: var(--black);
}

/* optional */
body.light-theme .navbar {
  background: linear-gradient(90deg, #d0e7f6, #f2f2f2);
}

body.dark-theme .navbar {
  background: linear-gradient(90deg, #0f1b2a, #1a1f2b);
}
